.films_films {
  .title .text {
    font-size: 45px;
    color: white;
    font-weight: 900;
    border-bottom: 4px solid red;
    width: 180px;
    margin-top: 80px;
  }
  .title{
    padding-left: 60px;
  }
  .card h4 {
    color: white;
    font-size: 18px;
  }

  .card h5 {
    color: #f6b80f;
    font-size: 14px;
  }
  .star {
    display: flex;
    color: yellow;
  }
  .btn{
    display: none;
    position: absolute;
  }
  .card {
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .card:hover {
    transform: translateY(-15px);
    .btn{
      display: block;
    }
    img{
      filter: brightness(30%);
    }
  }
  .card img {
    width: 242px;
    cursor: pointer;
  }
  .card .texts{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .films {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .film {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 100px;
  }
  .news_films .inp_pare {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid gray;
    border-radius: 4px;
    width: 400px;
  }
  .news_films .inp {
    color: white;
  }
  .news_films .inp::placeholder {
    color: white;
  }
  .news_films .inp_pare .icon {
    height: 100%;
    width: 10%;
    padding: 5px;
    background: #3657cb;
  }
  @media (max-width: 450px) {
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .film {
      display: grid;
      grid-template-columns: auto !important;
      gap: 18px;
    }
  }

  @media (max-width: 600px) {
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .film {
      display: grid;
      grid-template-columns: auto auto !important;
      gap: 18px;
    }
  }
  @media (max-width: 850px) {
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .film {
      display: grid;
      grid-template-columns: auto auto;
    }
    .btn_parent button {
      width: 40% !important;
      margin-top: 40px;
      height: 40px;
    }
  }

  @media (max-width: 1200px) {
    .card img {
      width: 180px !important;
    }

    .film {
      display: grid;
      column-gap: 20px;
    }
  }
}
