.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 62.6vh;
  text-align: center;
}
.four {
  font-size: 210px;
  color: white;
}

.page {
  color: white;
  font-size: 60px;
}

.notfound button {
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 60px;
  margin-top: 60px;
}

.notfound button:hover {
  color: #0073e6;
  box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6,
    0 0 5px #0073e6, 0 0 5px #0073e6, 0 0 19px #0073e6;
  border: none;
}

:root {
  --hue: 210;
  --size: 100px;
  --border: 10px;
  --speed: 1s;
  --blur: var(--border);
}
.load {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: var(--border);
  aspect-ratio: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  --y: calc((var(--size) * -0.5) + (var(--border) * 0.5));
  transform: rotate(0deg) translateY(var(--y));
  animation: spin var(--speed) infinite linear;
}

.loader::before {
  content: "";
  position: absolute;
  inset: calc(var(--border) * -0.5);
  border-radius: 50%;
  background: white;
  filter: blur(var(--blur));
  z-index: -1;
}

.loader::after {
  content: "";
  width: var(--size);
  aspect-ratio: 1;
  position: absolute;
  top: 0%;
  left: 50%;
  translate: -50% 0;
  background: conic-gradient(
    white,
    hsl(var(--hue), 100%, 70%),
    hsl(var(--hue), 100%, 10%),
    transparent 65%
  );
  border-radius: 50%;
  mask: radial-gradient(
    transparent calc(((var(--size) * 0.5) - var(--border)) - 1px),
    white calc((var(--size) * 0.5) - var(--border))
  );
}

@keyframes spin {
  to {
    transform: rotate(-360deg) translateY(var(--y));
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 30px;
}

.form .labels {
  display: flex;
  align-items: start;
  color: black;
  flex-direction: column;
  gap: 10px;
}
.form .labels input {
  width: 300px !important;
  padding: 6px;
}
.form h4 {
  color: #0073e6;
  cursor: pointer;
}
.form h3 {
  color: black;
}
.form button {
  width: 120px;
  height: 40px;
}
.form .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.form .buttons button {
  display: flex;
  align-items: center;
  gap: 4px;
}
.movie {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 110px;
}
.vid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}
.vid img {
  width: 900px;
}
.coments::-webkit-scrollbar {
  display: none;
}
.coments {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 410px;
  overflow-y: scroll;
}
.movie .texts h4 {
  color: white;
}
.movie .texts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.coment h5 {
  color: gray;
}
.coment h3 {
  color: white;
}
.coment .star {
  color: red;
}
.coments .coment {
  padding: 20px;
}
.coments input {
  width: 90%;
}
.inp_parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}
.about {
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: whitesmoke;
}
h2 {
  color: white;
  text-align: center;
}
.modal {
  height: 700px !important;
  overflow: hidden;
  transform: translateY(-60px);
  border-radius: 8px;
}
