nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding-left: 40px;
  padding-right: 40px;
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    padding-top: 10px;
  }
  .navbar img:hover{
    transform: rotate(45deg);
  }
  .navbar img{
    transition: all .3s ease ;
  }
  .navbar2 img:hover{
    transform: rotate(45deg);
  }
  .navbar2 img{
    transition: all .3s ease ;
  }

  .navbar2 {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    justify-content: space-around;
    margin-left: 230px;
    border-radius: 20px;
    height: 80px;
    width: 70%;
  }

  .navbar3 {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    transition: all 0.3s ease;
    justify-content: space-around;
    border-radius: 20px;
    height: 80px;
    width: 100%;
  }

  .navbar1 {
    display: none;
    align-items: center;
    justify-content: space-between;
  }

  .inp {
    padding: 10px;
    border-radius: 10px;
    color: black;
  }
  .inp::placeholder{
    color: black;
  }



  @media (max-width: 900px) {
    .navbar2 {
      margin-left: 145px;
    }
  }

  @media (max-width: 1200px) {
    .navbar2 {
      margin-left: 155px;
    }
  }

  @media (max-width: 800px) {
    .navbar2 {
      margin-left: 110px;
    }
    .navbar {
      display: none;
    }

    .navbar2 {
      display: none;
    }

    .navbar1 {
      display: flex;
    }

    .navbar3 {
      display: flex;
    }
  }

  .nav_text {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
  }

  .text {
    color: black !important;
    text-decoration: none;
  }

  .nav_texts {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
  }

  .nav_texts .li {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in;
  }

  .nav_texts .li:focus {
    color: red;
    padding-bottom: 2px;
    border-bottom: 2.5px solid red;
  }

  .search {
    color: #3657cb;
    background: white;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    padding: 10px;
  }

  .pare {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .pare button {
    width: 70px;
    height: 40px;
    box-shadow: #3657cb 0px 7px 15px 0px;
  }
}
