.news_film {
  .films {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .film {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 100px;
  }
  .card {
    position: relative;
    transition: all 0.9s ease-in-out;
    cursor: pointer;
  }
  .card_child {
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    border-bottom-right-radius: 15px;
  }
  .card:hover {
    .card_child {
      height: 115px;
      background: radial-gradient(#3657cb, #3656cb86, #0736e186);
    }
    img {
      opacity: 0.2;
    }
  }
  .card_child p {
    color: white;
    font-size: 15px;
  }
  .like_parent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .icon {
      color: white;
    }
  }
  .card img {
    width: 282px;
    height: 280px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
  }
  .eye_parent {
    display: flex;
    align-items: center;
    gap: 4px;
    .eye_text {
      color: white;
    }
  }
  .card .card_child {
    transition: all 0.5s ease;
    position: absolute;
    transform: translateY(-120px);
    line-height: 20px;
  }
  .text {
    font-size: 45px;
    color: white;
    font-weight: 900;
    border-bottom: 4px solid red;
    width: 250px;
    margin-top: 80px;
  }
  .title {
    padding-left: 60px;
  }

  @media (max-width: 450px) {
    .film {
      display: grid;
      grid-template-columns: auto !important;
      gap: 18px;
    }
    .card_child p {
      font-size: 10px;
    }
    .card_child button {
      height: 24px;
      font-size: 10px;
    }
  }

  @media (max-width: 600px) {
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .film {
      display: grid;
      grid-template-columns: auto auto !important;
      gap: 18px;
    }
  }

  @media (max-width: 875px) {
    .film {
      display: grid;
      grid-template-columns: auto auto;
    }
    .card .card_child {
      transform: translateY(-120px) !important;
    }
  }

  @media (max-width: 1200px) {
    .card img {
      width: 180px !important;
    }
    .card .card_child {
      transform: translateY(-160px);
    }

    .film {
      display: grid;
      column-gap: 50px;
    }
  }
}
