@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar{
  display: none;
}
/* 0d0d0d */
/* #1E2538 */

body {
  background: #0d0d0d;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* body{
    background-image: url(./assets/film.png);
    height: 100% !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: center;
    position: relative;

  } */
/* body::before{
    content: "";
    position: absolute;
    z-index: -999;  
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
  } */

.inp_pare {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  width: 400px;
}

.inp {
  color: white;
}

.inp::placeholder {
  color: white;
}

.inp_pare .icon {
  height: 100%;
  width: 10%;
  padding: 5px;
  background: #3657cb;
}
